#div {
  left: 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

.redbg {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), #971B2F;
  background-blend-mode: hard-light, normal;
  height: 50vh;
}

.graybg {
  background: #eee;
  height: 50vh;
}

.navbar__li {
  display: inline-block;
  margin: 0 1rem;
}

.navbar__a {
  color: #fff;
  text-decoration: none;
}
.navbar__a:hover {
  color: #ddd;
}

.navbar {
  float: right;
  margin: 0;
  padding: 20px;
}

.upward-bound-tagline {

  position: relative;
  float: right;
  font-style: normal;
  font-weight: 600;
  font-size: 49px;
  line-height: 74px;
  width: 40%;
  padding: 20px;
  padding-bottom: 0px;
  color: #FFFFFF;
}
.upward-bound-desc {
  position: relative;
  float: right;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  width: 40%;
  padding: 20px;
  padding-top: 0px;
  color: #fff;
}
